/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&family=Roboto:wght@300;400&display=swap');

/*Removes default browser styles*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

/*general style rules for body element*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 1%;
    margin-top: 1%;
}
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

header {
    text-align: center;
    padding-top: 2.5%;
}

/* Welcome text style rules for landing page */
.start-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 60%;
    height: max-content;
    justify-content: center;
    align-items: stretch;
    background: lightblue;
    border: 7px solid darkblue;
    border-radius: 5px;
    margin: 2% auto;
    padding: 1%;
}

/* add general styles for buttons*/
button {
    font-size: 160%;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid darkblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin: 6% 1% 1%;
    padding: 1%;
}

/* start quiz button style*/ 
.start-btn {
    display: flex;
    justify-content: center;
}

/*quiz-game area styles*/
.quiz-game-area {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 60%;
    height: max-content;
    justify-content: center;
    align-items: stretch;
    background: lightblue;
    border: 7px solid darkblue;
    border-radius: 5px;
    margin: 2% auto;
    padding: 1%;
}

.hide {
    display: none;
}

/* Media query for  tablet screens*/
@media screen and (max-width: 950px) {
    .start-page {
        width: 80%
    }
    
    .welcome-text {
        align-self: center;
    }
    
    h1 {
        font-size: 190%;
        margin-top: 1%;
    }

    h2 {
        margin-top: 2%;
    }
    
    h2, h3 { 
        font-size: 145%;
        padding: 0 1%;
    }

    p {
        font-size: 115%;
    }
    button {
        margin: 7% auto 4%;
    }
}

/* Media query for  mobile screens*/
@media screen and (max-width: 480px) {
    .start-page {
        width: 90%;
        margin: 4% auto 2%;
        position: absolute;
        bottom: 22%;
        right: 5%;
    }
    button {
        font-size: 100%;
        margin: 8% 1% 8%;
    
    }

    h1 {
        font-size: 100%;
        margin: 1% auto 1%;
    }

    h2 {
        margin: 4% auto 1%;
    }
    h2, h3 { 
        font-size: 80%;
        padding: 0 1%;
    }

    p {
        font-size: 100%;
    }
}  

/* Media query for  mobile screens*/
@media screen and (max-width: 380px) {
    .start-page {
        width: 90%;
        margin: 4% auto 2%;
        position: unset;
    }
    button {
        font-size: 100%;
        margin: 8% 1% 8%;
    
    }

    h1 {
        font-size: 100%;
        margin: 1% auto 1%;
    }

    h2 {
        margin: 4% auto 1%;
    }
    h2, h3 { 
        font-size: 80%;
        padding: 0 1%;
    }

    p {
        font-size: 100%;
    }
}