/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&family=Roboto:wght@300;400&display=swap');

/*Removes default browser styles*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

/*general style rules for body element*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #002147;
}

h1 {
    margin-bottom: 1%;
    margin-top: 1%;
    color: #f7f6f4
}
h1 i {
    color: black;
    padding: 1%;
}

h2 {
    color: #f7f6f4
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
}

header {
    text-align: center;
    padding-top: 2.5%;
}


/* Welcome text style rules for landing page and end quiz page */
.start-page,
.end-quiz-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 60%;
    height: max-content;
    justify-content: center;
    align-items: stretch;
    background: lightblue;
    border: 7px solid darkblue;
    border-radius: 5px;
    margin: 2% auto;
    padding: 1%;
}

.welcome-text {
    font-family: 'Nunito', sans-serif;
    font-size: 80%;
}
/* add general styles for buttons*/
button {
    font-size: 160%;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid darkblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin: 6% 1% 1%;
    padding: 1%;
}

button:hover {
    background-color: #002147;
    color: #f7f6f4;
  }


/* start quiz and restart quiz button style*/
.start-btn,
.restart-btn {
    display: flex;
    justify-content: center;
}
/*style for score nav on quiz game area*/
.game-bar {
    display: flex;
    justify-content: flex-end;
}
.trophy-icon {
    padding-right: 1%;
    padding-bottom: 3%;
    font-size: 180%;
    color: gold;
  }

  .question-score {
    font-size: 180%;
    padding-right: 3%;
  }

/* styles for the score display in the end quiz section*/
.score-div {
    display: flex;
    justify-content: center;
    font-size: 330%;
    box-sizing: border-box;
    margin: 3%;
    padding: 4%;
}

.fa-trophy {
    font-size: 100%;
    padding-right: 3%;
    color: gold;

}

/*quiz-game area styles*/
.quiz-game-area {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 60%;
    height: max-content;
    justify-content: center;
    align-items: stretch;
    background: lightblue;
    border: 7px solid darkblue;
    border-radius: 5px;
    margin: 2% auto;
    padding: 1%;
}

.question {
    font-size: 150%;
}

/* display grid style for questions is from this source
https://www.youtube.com/watch?v=riDzcEQbX6k&ab_channel=WebDevSimplified*/
.answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12%;

}

/*styles for the div containing the next button*/
.next-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*styles for the next button*/
.next-button {
    font-size: 150%;
}

.hide {
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* Media query for  tablet screens*/

@media screen and (max-width: 950px) {
/* adjust posittion of start section in tablet screen*/
    .start-page {
        width: 80%;
        position: absolute;
        align-self: center;
        bottom: 29%;
    }
/*adjust position for quiz and end quiz section in tablet screen*/
    .end-quiz-container,
    .quiz-container {
        width: 80%;
        position: absolute;
        align-self: center;
        top: 32%;
    }

    .quiz-game-area {
        width: 100%;
    }
    header {
        position: absolute;
        align-self: center;
        top: 17%;
    }

    .welcome-text {
        align-self: center;
    }

    h1 {
        font-size: 190%;
        margin-top: 1%;
    }

    h2 {
        margin-top: 2%;
    }

    h2,
    h3 {
        font-size: 145%;
        padding: 0 1%;
    }

    p {
        font-size: 115%;
    }

    button {
        margin: 7% auto 4%;
    }

    .score-div {
        font-size: 275%;
    }
}

@media screen and (max-width: 850px) {

    /* adjusts positon of header for slightly narrower screen sizes*/
    header {
        position: absolute;
        align-self: center;
        top: 12%;
    }
}

@media screen and (max-width: 800px) {

    /* adjusts positon of header for slightly narrower screen sizes*/
    header {
        position: absolute;
        align-self: center;
        top: 12%;
    }

    /*adjusts position of the various sections*/
    .start-page {
        position: absolute;
        bottom: 21%;
    }

    .end-quiz-container, .quiz-container {
        position: absolute;
        top: 28%;
    }
}

/* Media query for  tablet screens*/
@media screen and (max-width: 600px) {

    /* adjusts positon of section for slightly narrower screen sizes*/
    .start-page, .end-quiz-container {
        position: absolute;
        bottom: 9%;
    }
    .quiz-container {
        top: 19%;
    }

    header {
        top: 0%;
    }

    .answer-buttons {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 0%;
    }
}

/* Media query for  mobile screens*/
@media screen and (max-width: 480px) {

    .fa-graduation-cap {
        color: gold;
    }
    .start-page {
        width: 90%;
        margin: 4% auto 2%;
        position: absolute;
        bottom: 24%;
        align-self: center;
    }

    .quiz-container {
        top: 19%;
    }
    .end-quiz-container {
        top: 36%;
    }

    header {
        position: absolute;
        top: 8%;
    }

    button {
        font-size: 100%;
        margin: 8% 1% 8%;

    }

    h1 {
        font-size: 110%;
        margin: 1% auto 1%;
    }

    h2 {
        margin: 4% auto 1%;
    }

    h2,
    h3 {
        font-size: 100%;
        padding: 0 1%;
    }

    p {
        font-size: 100%;
    }

    .score-div {
        font-size: 180%;
    }
}

/* Media query for  mobile screens*/
@media screen and (max-width: 400px) {

    /* adjusts positon of section for slightly narrower screen sizes*/
    .start-page .end-quiz-container, .quiz-container {
        position: absolute;
        bottom: 17%;
    }

    .score-div {
        font-size: 180%;
    }

    .question {
        font-size: 100%;
    }
    .trophy-icon {
        font-size: 120%;
    }
    .question-score {
    font-size: 120%;
    }
}

/* Media query for  mobile screens*/
@media screen and (max-width: 380px) {

    /*overwrites position styles for start section in wider screen mobiles*/
    .start-page {
        position: unset;
    }

    /*overwrites position styles for header in wider screen mobiles*/
    header {
        position: unset;
    }

    h1 {
        font-size: 100%;
    }

    h2,
    h3 {
        font-size: 80%;
    }

    .score-div {
        font-size: 150%;
    }
}